[Unit]
Description=Run wallpaper randomizer every 30 minutes

[Timer]
OnCalendar=*:0/30:00
Persistent=true
Unit=wallpaper-randomizer.service

[Install]
WantedBy=timers.target
